:root {
  --purple: #81006a;
  --white: white;
  --indigo: #33002a;
  --black: black;
  --light-cyan: #d8f3fc;
  --dark-blue: #091a24;
  --sky-blue: #00bbf1;
  --light-blue: #9fe0f5;
  --orange-red: #e25a1c;
  --black-2: black;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-embed-youtubevideo {
  width: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

body {
  color: #333;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 300;
  line-height: 45px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

p {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 24px;
}

.nav {
  z-index: 9999;
  width: 100%;
  height: 65px;
  background-color: var(--purple);
  justify-content: center;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: visible;
}

.nav-container {
  width: 100%;
  height: 100%;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  position: static;
}

.nav-menu {
  height: 100%;
  align-items: center;
  display: flex;
}

.particles {
  height: 80vh;
  min-height: 0%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.hero-wrap {
  z-index: 250;
  width: 60%;
  text-align: left;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  position: absolute;
}

.heading-1 {
  color: #fff;
  text-align: center;
}

.subhead-1 {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.nav-link {
  color: #fff;
  transition: opacity .2s, text-shadow .2s;
}

.nav-link:hover {
  text-shadow: 1px 1px 6px #000;
  font-style: normal;
  text-decoration: underline;
}

.nav-link.w--current {
  color: #000;
  text-shadow: 1px 1px 6px rgba(255, 255, 255, .34);
}

.hero-left {
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.hero-right {
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero-description {
  text-align: center;
  text-shadow: 0 0 6px #000;
  margin-left: 0;
}

.me {
  text-align: center;
  border-radius: 100%;
  text-decoration: underline;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.body {
  background-color: #000;
}

.video-body {
  color: #fff;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  text-decoration: none;
}

.video-div {
  background-color: rgba(0, 0, 0, 0);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  text-decoration: none;
  transition: box-shadow .2s, background-color .2s;
  display: flex;
}

.video-div:hover {
  background-color: #33002a;
  box-shadow: 2px 2px 7px -1px rgba(255, 255, 255, .22);
}

.talks-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
}

.video-captions {
  width: 57%;
  text-decoration: none;
}

.video-head {
  color: #fff;
  text-align: left;
  margin-top: 0;
  font-size: 30px;
  line-height: 35px;
}

.pub-img {
  max-height: 300px;
  max-width: 100%;
  text-align: center;
  object-fit: contain;
  border-radius: 5px;
}

.name {
  text-shadow: 0 0 12px #000;
}

.home-section-header {
  color: var(--white);
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 40px;
}

.section {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -65px;
  padding-top: 65px;
  display: block;
}

.conf-title {
  color: #fff;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
}

.bio-text {
  color: #fff;
  text-align: left;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  display: block;
}

.link {
  color: #e4e4e4;
  transition: color .2s;
}

.link:hover {
  color: var(--purple);
}

.section-margin {
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.section-width {
  width: 70%;
  flex-direction: column;
  display: block;
}

.pub-image-div {
  width: 28%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.pub-item {
  width: 70%;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.press-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  margin-bottom: 50px;
}

.news-topic {
  color: var(--white);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.author-list {
  color: #fff;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 26px;
}

.paper-titile {
  color: #fff;
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
}

.paper-entry {
  border-top: 3px #7e7e7e;
  border-bottom: 3px solid #7e7e7e;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 15px;
  display: flex;
}

.paper-entry.last-entry {
  border-bottom-width: 0;
}

.paper-buttons {
  color: #fff;
  text-align: left;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: -5px;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  display: flex;
}

.button {
  background-color: var(--white);
  color: #000;
  text-align: center;
  letter-spacing: 1.1px;
  text-transform: none;
  border-radius: 5px;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px 7px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  transition: box-shadow .2s, color .2s, background-color .2s;
  display: flex;
}

.button:hover {
  background-color: var(--purple);
  color: #fff;
  box-shadow: 1px 1px 4px 1px rgba(255, 255, 255, .35);
}

.pub-award {
  color: #ecc900;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-decoration: none;
}

.press-link {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: box-shadow .2s, background-color .2s;
  display: flex;
}

.press-link:hover {
  background-color: var(--indigo);
  box-shadow: 1px 2px 9px rgba(255, 255, 255, .26);
}

.press-image {
  width: auto;
  max-height: 100px;
  max-width: 90%;
  min-width: 100px;
  object-fit: contain;
}

.talks-image-div {
  width: 40%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.talks-image {
  max-height: 200px;
  text-align: center;
  object-fit: contain;
  border-radius: 3px;
}

.contact-icon {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact-link {
  color: #fff;
  margin-right: 3px;
  font-size: 24px;
  line-height: 26px;
  transition: color .2s;
}

.contact-link:hover {
  color: var(--purple);
}

.column {
  display: block;
}

.contact-item {
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  padding-left: 10px;
  display: flex;
}

.columns {
  margin-top: 10px;
}

.history-left {
  width: 40%;
  align-items: center;
  display: flex;
}

.news-right {
  width: 87%;
}

.history-item {
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  padding-left: 10px;
  display: flex;
}

.h2 {
  color: #fff;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
}

.contact-text {
  color: #fff;
  font-size: 24px;
  line-height: 26px;
}

.news-item {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  display: flex;
}

.news-date, .news-text {
  color: #fff;
  font-size: 24px;
  line-height: 26px;
}

.news-left {
  width: 13%;
  align-items: center;
  display: flex;
}

.div-block {
  margin-left: 10px;
  margin-right: 10px;
}

.gradient {
  z-index: 200;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/ice_cave_wide.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
  position: absolute;
}

.paper-title {
  color: var(--white);
  text-align: center;
  margin-top: 40px;
  padding-left: 0;
  font-size: 54px;
  font-weight: 300;
  line-height: 60px;
}

.paper-button-holder {
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.spacer {
  width: 50%;
  height: 1px;
  color: #9b9b9b;
  background-color: #5f5f5f;
  margin-top: 20px;
  margin-bottom: 20px;
}

.paper-names {
  max-width: 1000px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
}

.affiliation-image {
  max-height: 55px;
  max-width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}

.paper-section-header {
  color: var(--white);
  text-align: center;
  margin-top: 40px;
}

.paper-page-text-block {
  color: #fff;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  display: block;
}

.small-spacer {
  width: 100%;
  height: 2px;
  color: #9b9b9b;
  background-color: #5f5f5f;
  margin-top: 10px;
  margin-bottom: 20px;
}

.paper-page-section-width {
  width: 750px;
  flex-direction: column;
  display: flex;
}

.paper-thumbnail {
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.code-block {
  color: #fff;
  background-color: #2b2b2b;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-family: Inconsolata, monospace;
  font-size: 16px;
  line-height: 24px;
}

.paper-hero {
  min-height: 0%;
  background-image: linear-gradient(282deg, rgba(0, 0, 0, .59), rgba(255, 255, 255, 0) 69%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  position: relative;
}

.youtube {
  box-shadow: 0 0 8px 3px var(--purple);
  margin-top: 40px;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  height: 60px;
}

.me {
  color: #ecc900;
  text-decoration: none;
}

.publication-disclaimer {
  color: #fff;
  text-align: left;
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
  display: block;
}

.affiliationholder {
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row dense;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}

.framecaption4 {
  width: 33.333%;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #000, 0 0 20px #000;
  background-color: rgba(0, 0, 0, .5);
}

.equalcontribution {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
}

.smallvideocaptionfooter5 {
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0;
  position: relative;
  top: -47%;
}

.comparevideoholder {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.caption3 {
  width: 33.33%;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #000, 0 0 20px #000;
  background-color: rgba(0, 0, 0, .5);
}

.featcaption5 {
  width: 14.286%;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #000, 0 0 20px #000;
  background-color: rgba(0, 0, 0, .5);
}

.largevideogrid {
  display: flex;
}

.featcaption4 {
  width: 16.666%;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #000, 0 0 20px #000;
  background-color: rgba(0, 0, 0, .5);
}

.framecaption5 {
  width: 28.57%;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #000, 0 0 20px #000;
  background-color: rgba(0, 0, 0, .5);
}

.largecomparevideoholder {
  flex-direction: column;
  justify-content: center;
  margin-bottom: -10px;
  padding-top: 10px;
  padding-bottom: 0;
  display: flex;
}

.framespacer3 {
  width: 40%;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #000, 0 0 20px #000;
}

.framespacer5 {
  width: 28.57%;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #000, 0 0 20px #000;
}

.featcaption3 {
  width: 20%;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #000, 0 0 20px #000;
  background-color: rgba(0, 0, 0, .5);
}

.example-subheader {
  color: #fff;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 33px;
  line-height: 36px;
}

.smallvideocaptionfooter4 {
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0;
  position: relative;
  top: -47.5%;
}

.framespacer4 {
  width: 33.333%;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #000, 0 0 20px #000;
}

.framecaption3 {
  width: 40%;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #000, 0 0 20px #000;
  background-color: rgba(0, 0, 0, .5);
}

.smallvideocaptionheader {
  justify-content: space-around;
  align-items: center;
  margin-bottom: -20px;
  padding-bottom: 0;
  position: relative;
  top: 0;
}

.smallvideocaptionfooter3 {
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0;
  position: relative;
  top: -48%;
}

.paper-image {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tldr-text {
  color: #fff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 26px;
}

.tldr-holder {
  max-width: 800px;
}

@media screen and (max-width: 991px) {
  .nav-container {
    flex: 0 auto;
  }

  .hero-wrap {
    width: 90%;
  }

  .heading-1 {
    text-align: center;
  }

  .hero-left {
    width: 50%;
    padding-left: 0;
    padding-right: 0;
  }

  .hero-right {
    width: 40%;
  }

  .video-body {
    text-align: left;
    font-size: 15px;
    line-height: 20px;
  }

  .talks-grid {
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

  .video-head {
    text-align: left;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 22px;
  }

  .home-section-header {
    padding-left: 30px;
  }

  .conf-title {
    font-size: 24px;
    line-height: 28px;
  }

  .bio-text {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
  }

  .section-width {
    width: 90%;
  }

  .press-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .news-topic {
    font-size: 32px;
    line-height: 28px;
  }

  .author-list {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 22px;
  }

  .paper-titile {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 28px;
  }

  .paper-entry {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .paper-buttons {
    margin-bottom: 5px;
  }

  .button {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    line-height: 22px;
  }

  .pub-award {
    font-size: 24px;
    line-height: 28px;
  }

  .press-link {
    padding: 16px 10px;
  }

  .press-image {
    max-height: 80px;
    min-width: 90px;
  }

  .contact-link {
    font-size: 18px;
    line-height: 24px;
  }

  .contact-item, .history-item {
    margin-top: 7px;
    padding-left: 3px;
  }

  .h2 {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 28px;
  }

  .contact-text {
    font-size: 18px;
    line-height: 24px;
  }

  .news-item {
    margin-top: 7px;
    padding-left: 3px;
  }

  .news-date, .news-text {
    font-size: 18px;
    line-height: 24px;
  }

  .div-block {
    width: 100%;
  }

  .paper-title {
    font-size: 40px;
    line-height: 52px;
  }

  .paper-names {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    line-height: 28px;
  }

  .affiliation-image {
    max-height: 40px;
  }

  .paper-section-header {
    font-size: 30px;
    line-height: 40px;
  }

  .paper-page-text-block {
    margin-bottom: 30px;
    line-height: 28px;
  }

  .paper-page-section-width {
    width: 90%;
  }

  .affiliationholder {
    grid-column-gap: 27px;
  }

  .equalcontribution {
    margin-bottom: 5px;
  }

  .smallvideocaptionfooter5 {
    align-items: flex-start;
    top: -43%;
  }

  .example-subheader {
    font-size: 30px;
    line-height: 40px;
  }

  .smallvideocaptionfooter4 {
    align-items: flex-start;
  }

  .smallvideocaptionfooter3 {
    align-items: flex-start;
    top: -48%;
  }

  .tldr-text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    height: 50px;
    background-color: rgba(129, 0, 106, .75);
  }

  .hero-wrap {
    width: 100%;
    flex-direction: column;
    flex: 1;
    top: 14vh;
  }

  .hero-left {
    width: 100%;
    text-align: center;
    margin-top: 0%;
  }

  .hero-right {
    width: 100%;
    margin-top: -50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .me {
    max-width: 80%;
  }

  .body {
    background-color: #000;
  }

  .icon {
    color: #e3dcdc;
  }

  .talks-grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .menu-button {
    padding-top: 12px;
    padding-bottom: 13px;
  }

  .home-section-header {
    padding-left: 30px;
  }

  .section {
    margin-top: -50px;
    padding-top: 50px;
  }

  .bio-text {
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 30px;
  }

  .section-width {
    width: 95%;
  }

  .press-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .news-topic {
    margin-bottom: 15px;
  }

  .paper-buttons {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
  }

  .button {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .press-image {
    max-height: 70px;
    max-width: 80%;
    min-width: 100px;
  }

  .talks-image {
    max-height: 150px;
  }

  .column {
    margin-bottom: 20px;
  }

  .history-left {
    margin-right: 1%;
  }

  .news-right {
    width: 80%;
  }

  .h2 {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
  }

  .news-left {
    width: 20%;
  }

  .paper-title {
    font-size: 32px;
    line-height: 44px;
  }

  .paper-names {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 35px;
  }

  .affiliation-image {
    max-width: 100px;
  }

  .paper-page-text-block {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 26px;
  }

  .paper-page-section-width {
    width: 95%;
  }

  .paper-thumbnail {
    margin-bottom: 10px;
  }

  .publication-disclaimer {
    font-size: 18px;
    line-height: 24px;
  }

  .affiliationholder {
    grid-column-gap: 14px;
  }

  .framecaption4 {
    font-size: 12px;
    line-height: 16px;
  }

  .equalcontribution {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 20px;
  }

  .smallvideocaptionfooter5 {
    top: -43%;
  }

  .caption3, .featcaption5, .featcaption4, .framecaption5, .framespacer3, .framespacer5, .featcaption3 {
    font-size: 12px;
    line-height: 16px;
  }

  .example-subheader {
    font-size: 26px;
    line-height: 28px;
  }

  .smallvideocaptionfooter4 {
    top: -43.5%;
  }

  .framespacer4, .framecaption3 {
    font-size: 12px;
    line-height: 16px;
  }

  .smallvideocaptionheader {
    margin-bottom: -15px;
  }

  .smallvideocaptionfooter3 {
    top: -47%;
  }

  .paper-image {
    margin-top: 0;
  }

  .tldr-text {
    margin-top: 10px;
  }
}

@media screen and (max-width: 479px) {
  .particles {
    height: 90vh;
  }

  .hero-wrap {
    top: 5vh;
  }

  .subhead-1 {
    font-size: 17px;
  }

  .hero-left {
    width: 95%;
  }

  .hero-right {
    margin-top: 0;
  }

  .me {
    max-width: 100%;
  }

  .pub-img {
    max-height: 200px;
    margin-bottom: 5px;
  }

  .menu-button {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .home-section-header {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .conf-title {
    text-align: center;
  }

  .bio-text {
    font-size: 20px;
    line-height: 22px;
  }

  .section-width {
    width: 93%;
  }

  .pub-image-div, .pub-item {
    width: 100%;
  }

  .press-grid {
    grid-template-columns: 1fr 1fr;
  }

  .news-topic {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .paper-titile {
    text-align: center;
  }

  .paper-entry {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .paper-buttons {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 26px;
    line-height: 28px;
  }

  .button {
    align-content: stretch;
    margin-left: 5px;
    margin-right: 5px;
  }

  .pub-award {
    text-align: center;
  }

  .press-link {
    transition: background-color .2s;
  }

  .press-image {
    max-height: 60px;
    min-width: 120px;
  }

  .contact-icon {
    width: 25px;
    margin-left: 0;
    margin-right: 10px;
  }

  .contact-link {
    font-size: 16px;
  }

  .column {
    padding-left: 0;
    padding-right: 0;
  }

  .history-left {
    width: 35%;
    margin-right: 4%;
  }

  .history-item {
    justify-content: space-between;
  }

  .h2 {
    font-size: 26px;
    line-height: 28px;
  }

  .experiences-column {
    padding-left: 0;
    padding-right: 0;
  }

  .contact-text {
    font-size: 16px;
  }

  .news-item {
    justify-content: space-between;
  }

  .news-date, .news-text {
    font-size: 16px;
  }

  .news-left {
    width: 35%;
    margin-right: 2%;
  }

  .paper-title {
    line-height: 40px;
  }

  .paper-names {
    font-size: 20px;
    line-height: 32px;
  }

  .affiliation-image {
    max-height: 30px;
    max-width: 20%;
    flex: 0 auto;
    margin-left: 0;
    margin-right: 0;
  }

  .paper-page-text-block {
    text-align: justify;
    font-size: 18px;
    line-height: 22px;
  }

  .paper-page-section-width {
    width: 93%;
  }

  .youtube {
    margin-top: 30px;
  }

  .publication-disclaimer {
    text-align: center;
  }

  .affiliationholder {
    width: 100%;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .framecaption4 {
    font-size: 11px;
  }

  .equalcontribution {
    font-size: 13px;
    line-height: 14px;
  }

  .smallvideocaptionfooter5 {
    margin-top: -5px;
    top: 0%;
  }

  .featup-video-grid {
    grid-template-columns: 1fr;
  }

  .featcaption5 {
    font-size: 10px;
    line-height: 14px;
  }

  .featcaption4 {
    font-size: 11px;
  }

  .framecaption5 {
    font-size: 10px;
  }

  .largecomparevideoholder {
    margin-bottom: 0;
  }

  .featcaption3 {
    font-size: 11px;
  }

  .example-subheader {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .smallvideocaptionfooter4 {
    margin-top: -5px;
    top: 0%;
  }

  .framecaption3 {
    font-size: 11px;
  }

  .smallvideocaptionheader {
    margin-bottom: 0;
    position: relative;
  }

  .smallvideocaptionfooter3 {
    margin-top: -5px;
    top: 0%;
  }

  .tldr-text {
    font-size: 16px;
  }
}

#w-node-_5393512e-c4bf-9f03-666e-0c05af91d1c9-0344f61a {
  align-self: center;
  justify-self: center;
}

#w-node-_6ad671b6-e7c9-e046-40e1-870364627307-0344f61a, #w-node-_68a8a0c6-2384-f599-5daf-92fdedd36830-0344f61a {
  align-self: center;
}

#w-node-_5ab1da28-9601-05e5-a69e-aafcaf3da429-0344f61a, #w-node-e652ac26-a4c4-60ac-9d36-56629880e177-0344f61a {
  align-self: center;
  justify-self: center;
}

#w-node-e652ac26-a4c4-60ac-9d36-56629880e179-0344f61a, #w-node-e652ac26-a4c4-60ac-9d36-56629880e17d-0344f61a {
  align-self: center;
}

#w-node-e652ac26-a4c4-60ac-9d36-56629880e189-0344f61a {
  align-self: center;
  justify-self: center;
}

#w-node-_9082397f-6628-a5b0-a27a-b89c00682df9-f4f8ffe1, #w-node-_9082397f-6628-a5b0-a27a-b89c00682e01-f4f8ffe1, #w-node-_9082397f-6628-a5b0-a27a-b89c00682e02-f4f8ffe1, #w-node-_9082397f-6628-a5b0-a27a-b89c00682e0a-f4f8ffe1, #w-node-_9082397f-6628-a5b0-a27a-b89c00682e0b-f4f8ffe1, #w-node-_9082397f-6628-a5b0-a27a-b89c00682e13-f4f8ffe1, #w-node-_9082397f-6628-a5b0-a27a-b89c00682e14-f4f8ffe1, #w-node-_9082397f-6628-a5b0-a27a-b89c00682e1c-f4f8ffe1, #w-node-_9082397f-6628-a5b0-a27a-b89c00682e1d-f4f8ffe1, #w-node-_9082397f-6628-a5b0-a27a-b89c00682e25-f4f8ffe1, #w-node-_9082397f-6628-a5b0-a27a-b89c00682e26-f4f8ffe1, #w-node-_9082397f-6628-a5b0-a27a-b89c00682e2e-f4f8ffe1, #w-node-_9082397f-6628-a5b0-a27a-b89c00682e32-f4f8ffe1, #w-node-_9082397f-6628-a5b0-a27a-b89c00682e33-f4f8ffe1, #w-node-_9082397f-6628-a5b0-a27a-b89c00682e41-f4f8ffe1, #w-node-_9082397f-6628-a5b0-a27a-b89c00682e51-f4f8ffe1, #w-node-_9082397f-6628-a5b0-a27a-b89c00682e5d-f4f8ffe1, #w-node-_9082397f-6628-a5b0-a27a-b89c00682e6b-f4f8ffe1, #w-node-_9082397f-6628-a5b0-a27a-b89c00682e75-f4f8ffe1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_185912c3-010d-fb94-8b11-ceb325f173f4-c93a65c4, #w-node-_185912c3-010d-fb94-8b11-ceb325f173f4-68d1e30c, #w-node-_185912c3-010d-fb94-8b11-ceb325f173f4-354bf7ea, #w-node-_43a3413d-4adf-1800-f7a1-439b5010f325-f4f8ffe1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


